
$gColor: #404040;
$oColor: #ff4c4c;

$monts: 'Montserrat', sans-serif;

body {
	font-family: $monts;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: $monts;
    font-weight: 300;
    line-height: 1.5em;
}

h1.error {
    text-align: center;
    font-size: 15vw;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3.error {
    text-align: center;
    font-size: 25px;
    font-weight: 00;
    margin-top: 30px;
    margin-bottom: 30px;
}

.parallax {
	position: relative;
}

form {
	margin-bottom: 0px;
}

table {
	tr {
		td {
			padding: 20px;
		}
	}
}

.navbar .navbar-form {
    margin: -4px 0 0;
}

.btn-search {
	background: $oColor;
    padding: 8px 10px 0;
    border: none;
    border-radius: 2px;

	i {
		&.material-icons {
			font-size: 18px;
			color: #fff;
		}
	}
}

.form-control-my {
	padding: 5px 10px 6px;
    border-radius: 2px;
    border: none;
    position: relative;
    top: -6px;
}

.green {
	color: #2ee21a !important;
}

.empty-space {
	display: block;
	width: 100%;
	height: 32px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1f1e1e;
}

.sidebar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(64,64,64, 1);
    opacity: 1;
}

.sidebar-background {
	background: url(images/sidebar-1.jpg);
}

.waluty {
	position: absolute;
    bottom: 0px;
	padding: 20px;
	width: 100%;
	.title {
		font-size: 15px;
		color: #fff;
	}

	.waluta {
		margin-top: 5px;
		padding: 10px 20px;
		background: rgba(200, 200, 200, 0.2);
		color: #fff;
		border-radius: 3px;
		font-size: 16px;
	}
}

.sidebar-wrapper {
	.nav {
		li {
			a {
				color: #fff;

				i {
					color: #fff;
				}

				&:hover {
					color: #fff;
				}
			}
			&.active {
				a {
					background-color: $oColor !important;
					box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0), 0 4px 20px 0px rgba(0, 0, 0, 0), 0 7px 8px -5px rgba(156, 39, 176, 0) !important;
				}
			}
		} 
	}
}

.alert-message {
    position: absolute;
    color: #fff;
    padding: 25px;
    top: 80px;
    right: 30px;
    background-color: #2c3e5e;
    border-color: #2c3e5e;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    border-radius: 3px;
    z-index: 9;

    i {
    	font-size: 30px;
    }

    .message {
	    margin-top: 5px;
	}
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #ff4c4c;
    border-color: #ff4c4c;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}

.main-panel {

	nav {
		&.navbar-transparent {
			// display: none;
		}
	}

	img {
		&.header {
			width: 100%;
		}
	}

	.content {
		margin-top: 10px;
    	padding: 30px 55px;

    	.show {
    		.card {
    			height: auto;
    		}
    	}

    	.card {
    		-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			padding: 0 0 5px;
			// min-height: 495px;

			.card-header {
				.title {
				    color: #FFFFFF;
				    font-weight: 300;
				    font-size: 25px;
				}

				.category {
					font-weight: 400;
					color: #FFFFFF;

					span {
						font-weight: 700;
					}
				}
			}

			.card-dashboard {
				padding: 25px 20px 15px;
				.title {
				    margin: 0;
				    text-align: right;
				    font-size: 45px;
				    font-weight: 800;
				    color: $gColor;
				}

				p {
					&.category {
						text-align: right;
					    font-size: 20px;
					    font-weight: 400;
					    color: $gColor;
					}
				}
			}
				
			&:hover {
				box-shadow: 0 0 25px rgba(0,0,0, .2);
			}

	    	.card-header-main {
			    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0), 0 4px 25px 0px rgba(0, 0, 0, 0), 0 8px 10px -5px rgba(0, 0, 0, 0);
			    margin: 0px 0px 20px;
			    border-top-left-radius: 3px;
			    border-top-right-radius: 3px;
			    border-bottom-left-radius: 0px;
			    border-bottom-right-radius: 0px;
			    padding: 0px;
			    width: 100%;
			    overflow: hidden;
			    position: relative;
			    background: -webkit-linear-gradient(45deg, #ff5d36 0%, #404040 100%);
			    background: linear-gradient(45deg, #ff5d36 0%, #404040 100%);

			    &:hover {
					img {
						opacity: 0.6;
						filter: alpha(opacity=60);
						-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
					}
				}

			    img {
			    	min-height: 220px;
				    background-size: cover;
				    object-fit: cover;
				    background-position: top;
				    background-repeat: no-repeat;
				    display: table;
				    width: 100%;
				    height: 220px;
				    border-radius: 3px;
				    position: relative;
				    max-width: none;
				    width: calc(100% + 60px);
				    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
				    transition: opacity 0.35s, transform 0.45s;
				    -webkit-transform: translate3d(-40px, 0, 0);
				    transform: translate3d(-40px, 0, 0);
				    background: -webkit-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
				    background: -o-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
				    background: linear-gradient(to top right, #ff89e9 0%, #05abe0 100%);
			    }
			}

			.card-content-car {
				padding: 15px 20px;

				.box-title-main {
					height: 40px;
					.title {
					    margin: 0;
					    text-align: left;
					    font-size: 17px;
				        line-height: 17px;
					    font-weight: 400;
					    color: $gColor;
					}
				}

				.date {
					text-align: left;
				    font-size: 14px;
				    font-weight: 300;
				    color: $gColor;
				}

				.time-left {
					margin-top: 20px;
					text-align: left;
				    font-size: 14px;
				    font-weight: 300;
				    color: $gColor;

				    span {
				    	font-weight: 700;
				    }
				}

				.date-left {
					margin-top: 0px;
					text-align: left;
				    font-size: 11px;
				    font-weight: 400;
				    color: $gColor;
				}
			}

			.card-content {
				padding: 30px 80px 50px;

				.title {
				    margin: 0;
				    text-align: left;
				    font-size: 20px;
				    font-weight: 300;
				    color: $gColor;

				}

				.date {
					text-align: left;
				    font-size: 14px;
				    font-weight: 300;
				    color: $gColor;
				}

				.time-left {
					margin-top: 20px;
					text-align: left;
				    font-size: 14px;
				    font-weight: 300;
				    color: $gColor;

				    span {
				    	font-weight: 700;
				    }
				}
			}

			.card-footer {

				a {
					&.stats {
					    line-height: 22px;
					    color: #fff;
					    font-size: 15px;
					    background: $oColor;
					    padding: 10px 30px;
					    text-align: center;
					    margin: 0 auto;
	    				display: table;
	    				font-weight: 400;
	    				-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						-ms-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;

	    				&:hover {
	    					background: $gColor;
	    				}
					}
				}
			}
		}
	}
}

#map {
	margin-top: 0px;
	width: 100%;
	height: 370px;
}

footer {
	&.footer {
		background: $gColor;
		padding: 0 50px;

		.copyright {
			color: #fff;

			a {
				color: #fff;
			}
		}
	}
}

@media (max-width: 768px) {

	.waluty {
		display: none;
	}
	
	.navbar-form {
		display: none;
	}
	.main-panel {

		nav {
			&.navbar-transparent {
				display: block;
			}
		}

		img {
			&.header {
				display: none;
			}
		}

		.content {
			margin-top: 50px;
    		padding: 0px 10px;

    		.card {
    			margin-top: 50px;
    		}

    		.card-content {
				padding: 20px 30px 0px !important;
			}
    	}
	}

	#map {
		margin-top: 70px;
	}
}

@media (max-width: 480px), (max-width: 767px) {

	.form-group .form-control {
	    width: 100%;
	}

}

// cookies
.cookie-disclaimer {
    background: #000000;
    color: #FFF;
    opacity: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}
.cookie-disclaimer .container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.cookie-disclaimer .cookie-close{
    float: right;
    padding: 10px 10px 5px;
    cursor: pointer;
}

.cookie-disclaimer .accept-cookie {
    background: $gColor;
    border-color: $gColor;
}

.img-article {
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;

    img {
	    min-height: 120px;
	    background-size: cover;
	    object-fit: cover;
	    background-position: top;
	    background-repeat: no-repeat;
	    display: table;
	    width: 100%;
	    height: 120px;
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0, .7);
}

.modal-content .modal-body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}